
    body {
      background-color: black;
      font-family: monospace;
    }
 
    .duck-head{
        width:100px;
        height:100px;
        border-radius: 50%;
        background-color:yellow;
        position:absolute;
        margin:50;
    }
    .duck-body{
        width:250px;
        height:100px;
        border-radius: 40%;
        background-color:yellow;
        position:absolute;
        margin-top:130;
        margin-left:60;
    }
    .duck-wing{
        width:150px;
        height:50px;
        border-radius: 40%;
        background-color:#fd3;
        position:absolute;
        margin-top:140;
        margin-left:130;
    }
    .duck-beak{
        width:50px;
        height:25px;
        border-radius: 60%;
        background-color:orange;
        position:absolute;
        margin-top:100;
        margin-left:40;
    }
    .duck-eye{
      width:25px;
      height:25px;
      border-radius: 50%;
      background-color: black;
      position:absolute;
      margin-top:80;
      margin-left:100;
    }
    .duck-eyeshine{
      width:10px;
      height:10px;
      border-radius: 50%;
      background-color: white;
      position:absolute;
      margin-top:85;
      margin-left:102;
    }
    .water{
      width:350px;
      height:150px;
      border-radius: 10% 20% 70% 50% ;
      background-color: dodgerblue;
      position:absolute;
      margin-top:200;
      margin-left:30;
    }
 